@import url(https://fonts.googleapis.com/css?family=Dongle);

body {
background-color: white;
font-family: Dongle;
}


.fixedheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 0 50px #9999;
}

.htextstyle {
  color: black;
  font-size: 20px;
  list-style-type: none;
  display: block;
}

li {
  text-decoration: none;
}

li:visited {
  text-decoration: none;
}


.navigation {
  text-align: right;
}


.whiteblock {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  box-shadow: 0 0 50px #9999;
  width: 80%;
}

.boxtextstyle {
  text-align: center;
  color: black;
  font-size: 50px;
  padding: 50px;
}
