@import url(https://fonts.googleapis.com/css?family=Dongle);

body {
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
font-family: Dongle;
}


.fixedheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 0 50px #9999;
}

.htextstyle {
  color: black;
  font-size: 20px;
  list-style-type: none;
  display: block;
}

li {
  text-decoration: none;
}

li:visited {
  text-decoration: none;
}


.navigation {
  text-align: right;
}


.whiteblock {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: white;
  box-shadow: 0 0 50px #9999;
  width: 80%;
}

.whiteblockcont {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: white;
  box-shadow: 0 0 50px #9999;
  width: 80%;
}


.boxtextstyle {
  text-align: center;
  color: black;
  font-size: 50px;
  padding: 50px;
}
